<br><br><center>
  <h2>Sign up</h2><br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">

      <%= f.text_field :username, autofocus: true, :required => 'required',placeholder: "Username"%>
    </div><br>

    <div class="field">

      <%= f.text_field :firstname, autofocus: true, :required => 'required',placeholder: "Firstname" %>
    </div><br>

    <div class="field">

      <%= f.text_field :lastname, autofocus: true, :required => 'required',placeholder: "Lastname" %>
    </div><br>

    <div class="field">

      <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => 'required',placeholder: "Email" %>
    </div><br>
    <div class="field">

      <%= f.text_field :phone, autofocus: true, :required => 'required',placeholder: "Phone" %>
    </div><br>

    <div class="field">

      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", :required => 'required',placeholder: "Password (6 chars min)" %>
    </div><br>

    <div class="field">

      <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => 'required',placeholder: "Confirm password" %>
    </div><br>

    <div class="actions">
      <%= f.submit "Sign up",:class=>'btn btn-success' %>
    </div><br>
  <% end %>

  <%= render "devise/shared/links" %>

</center>
