<%= stylesheet_link_tag 'orders', media: 'all', 'data-turbolinks-track': 'reload' %>
<center>

  <br><br><h3>Order Food</h3><br>
  <%=form_for @order do |form| %>
    <div class = "container">
    <%= form.text_area :item, placeholder: 'Food', :required => 'required', :class => "form-control" %><br><br>
    <%= form.text_field:quantity, placeholder: 'Quantity',rows:4, :required => 'required', :class => "form-control" %><br><br>
    <%= form.text_area:address, placeholder: 'Delivery Address',rows:4, :required => 'required', :class => "form-control" %><br><br>
    <%= form.submit "Order" ,:class => "btn btn-danger"%>
    </div>
  <% end %>

</center>



