<%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "restuarent2.jpg", :class=>"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Eat healthy and quality food.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "restuarent1.jpg", :class=>"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Almost all foods are available.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "restuarent3.jpg", :class=>"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Services like delivery and booking table is available.</h5>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container my-4">
  <div class="row featurette d-flex justify-content-center align-items-center my-4">
    <div class="col-md-7">
      <h2 class="featurette-heading">About Us
        <span class="text-muted"></span></h2>
      <p class="lead">This restaurant was established by Late KP Sharma Oli in the late 90's. He started to sell foods in a carriage. Slowly customers started to like his cooking and built one of the best restaurant of the country at this time.
      </div>
      <div class="col-md-5">
        <%= image_tag "restuarent10.jpg", :class=>"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center my-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Address<span class="text-muted"></span></h2>
        <p class="lead">
          Our restaurant is located in the Damuali of Tanhun district. Situated in a peaceful environment and the stuning view of the Madi river makes the restaurant a paradise.</p>
        <center>
          <a href="https://www.google.com/maps/search/damauli/@27.9806635,84.2545326,17.01z" class="btn btn-info btn-sm" target="_blank">Google Map</a>
        </center>
      </div>
      <div class="col-md-5 order-md-1 my-2">
        <%= image_tag "restuarent5.jpg", :class=>"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center my-4">
      <div class="col-md-7">
        <h2 class="featurette-heading">Main Facilities<span class="text-muted"></span></h2>
        <p class="lead">We have a large parking spot. So you don't need top worry about parking. We have fast delivery system. For special ocassions like birthdays and aniversaries, we provide the required environment for the celebration.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "restuarent9.jpg", :class=>"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

  </div>
  <hr>

  <div class="container my-4">
    <div class=" cook text-center">
      <h1>Our Main Cooks</h1>
    </div>
    <div class="row my-4">
      <div class="col-lg-4 text-center">
        <%= image_tag "xitiz2.jpg", :class=>" nigga bd-placeholder-img rounded-circle", :height=>"200", :width=>"200" %>
        <hr>
        <h4>Kshitiz Baniya</h4>
        <p>He is the Head cook of our restaurant. He was graduated from Dubai University.</p>
        <p>
          <a class="btn btn-primary" href="https://www.facebook.com/kshitiz.baaniya" target="_blank" role="button">
            <i class="fab fa-facebook"></i>
            Facebook »</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <%= image_tag "dari.jpg", :class=>" nigga bd-placeholder-img rounded-circle", :height=>"200", :width=>"200" %>
        <hr>
        <h4>Subash Timilsina</h4>
        <p>He is our SAC (Sub Assistant Cook). He was graduated from Fewa Tal University.</p>
        <p>
          <a class="btn btn-primary" href="https://www.facebook.com/bibek.pandit.37/" target="_blank" role="button">
            <i class="fab fa-facebook"></i>
            Facebook »</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <%= image_tag "wiwek.jpg", :class=>" nigga bd-placeholder-img rounded-circle", :height=>"200", :width=>"200" %>
        <hr>
        <h4>Wiwek K.C</h4>
        <p>He is a junior cook. He is a fast learner. He is a noob but claims himself as the best cook.</p>
        <p>
          <a class="btn btn-primary" href="https://www.facebook.com/bibek.kc.7524" target="_blank" role="button">
            <i class="fab fa-facebook"></i>
            Facebook »</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
  <hr>
