<%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "restuarent3.jpg", :class=>"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Eat Healthy and Quality Food.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "restuarent2.jpg", :class=>"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Almost all foods are available.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "restuarent1.jpg", :class=>"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Services like Delivery and Booking table is available.</h5>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container my-4">
  <div class="row featurette d-flex justify-content-center align-items-center my-4">
    <div class="col-md-7">
      <h2 class="featurette-heading">History
        <span class="text-muted"></span></h2>
      <p class="lead">This restaurant was established by Late KP Sharma Oli in the late 90's. He started to sell foods in a carriage. Slowly customers started to like his cooking and built one of the best restaurant of the country at this time.
      </div>
      <div class="col-md-5">
        <%= image_tag "restuarent10.jpg", :class=>"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center my-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Address<span class="text-muted"></span></h2>
        <p class="lead">
          Our restaurant is located in the Lakeside, Pokhara. Situated in a peaceful environment and the stuning view of the Fewa lake makes the restaurant a paradise.</p>
        <center>
          <a href="https://www.google.com/maps/@28.2099246,83.9561876,20.33z" class="btn btn-primary btn-sm" target="_blank"><%=fa_icon "globe"%>
            Google Map</a>
        </center><br>
      </div>
      <div class="col-md-5 order-md-1 my-2">
        <%= image_tag "restuarent5.jpg", :class=>"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center my-4">
      <div class="col-md-7">
        <h2 class="featurette-heading">Main Facilities<span class="text-muted"></span></h2>
        <p class="lead">We have a large parking spot, so you don't need to worry about parking. We have fast delivery system. For special ocassions like birthdays and anniversaries, we provide the required environment for the celebration. We can provide you
          with all kinds of foods.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "restuarent9.jpg", :class=>"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

  </div>
  <hr>
  <br><br>
  <center>
    <h1>The Owner</h1><br>
    <div class="card" style="width: 18rem;">
      <%= image_tag "gus.jpg", :class=>"card-img-top"%>
      <div class="card-body">
        <h4>Gustavo Fring aka Gus</h4>
        <p>He is the owner of our restaurant. He owns 14 Los Pollos Hermanos across USA and has one in Nepal.</p>
      </div>
    </div>
  </center>
  <hr>

  <div class="container my-4">
    <div class=" cook text-center">
      <h1>Our Cooks</h1>
    </div>
    <div class="row my-4">
      <div class="col-lg-4 text-center">
        <%= image_tag "xitiz2.jpg", :class=>"bd-placeholder-img rounded-circle", :height=>"200", :width=>"200" %>
        <hr>
        <h4>Kshitiz Baniya</h4>
        <p>He is the Head cook of our restaurant. He graduated from Dubai University.</p>
        <p>
          <a class="btn btn-primary" href="https://www.facebook.com/kshitiz.baaniya" target="_blank" role="button">
            <%=fa_icon "facebook"%>
            Facebook »</a>
        </p>
        <hr>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <%= image_tag "dari.jpg", :class=>"bd-placeholder-img rounded-circle", :height=>"200", :width=>"200" %>
        <hr>
        <h4>Subash Timilsina</h4>
        <p>He is our SAC (Sub Assistant Cook). He graduated from Fewa Tal University.</p>
        <p>
          <a class="btn btn-primary" href="https://www.facebook.com/bibek.pandit.37/" target="_blank" role="button">
            <%=fa_icon "facebook"%>
            Facebook »</a>
        </p>
        <hr>
      </div>

      <!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <%= image_tag "wiwek.jpg", :class=>" bd-placeholder-img rounded-circle", :height=>"200", :width=>"200" %>
        <hr>
        <h4>Wiwek K.C</h4>
        <p>He is a junior cook. He is a fast learner. He is a noob but claims himself as the best cook.</p>
        <p>
          <a class="btn btn-primary" href="https://www.facebook.com/bibek.kc.7524" target="_blank" role="button">
            <%=fa_icon "facebook"%>
            Facebook »</a>
        </p>
        <hr>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
  <hr>
