<%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<section class="jumbotron text-center">
  <div class="container">
    <h1>Yummy Fast Food & Cafe</h1><br>
    <h4 class="text-center">Come as a Guest Go as a Friend</h4><br><hr>
    <p class="lead text-muted">We provide quality and healthy food six days a week. We provide almost all types of foods. We have delivery system to deliver foods to your home. You can book tables for special occassions.</p>
    <p>
      <a href="/orders/new" class="btn btn-danger 4"><%=fa_icon "cart-arrow-down"%> Order Now</a>
      <a href="/books/new" class="btn btn-warning my-4"><%=fa_icon "bookmark"%> Book Table</a>
    </p>
    <h6 class="telephone text-center">
      <i class="fas fa-phone-alt"></i>
      065-560766</h6><br>

    <h5 class="address text-center">
      <i class="fas fa-map-marker-alt"></i>
      Kantar, Damauli, Tanahun</h5>
  </div>
</section>

<div class="card-deck">
  <div class="card">
    <%= image_tag "restuarent8.jpg", :class=>"card-img-top w-100" %>
    <div class="card-body">
      <h5 class="card-title">Healthy food and healthy Environment</h5>
      <p class="card-text">We cook food from the organic and fresh products. For eating we have diffferent sections for parties and celebrations. So the chance of disturbance is almost zero.</p>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "restuarent7.jpg", :class=>"card-img-top w-100" %>
    <div class="card-body">
      <h5 class="card-title">Experienced Cooks</h5>
      <p class="card-text">Our cooks are among the best cooks of Nepal right now. They all well experienced and make the best food.</p>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "restuarent6.jpg", :class=>"card-img-top w-100" %>
    <div class="card-body">
      <h5 class="card-title">Report</h5>
      <p class="card-text">If you find any problem in our services, please report the problem.
      </p>
      <p class="card-text">
        <center>
          <a href="/reports/new" class="btn btn-outline-danger ">Report</a>
        </center>

      </p>
    </div>
  </div>
</div><br>

<section>
  <h1 class=" tasty text-center my-4">Our Tasty Menu</h1>
  <center>
    <ul class="list-group mx-4 my-4  justify-content-center align-items-center">
      <li class="list-group-item active bg-dark border border-dark">Breakfast</li>
      <li class="list-group-item">Boiled eggs Rs30/</li>
      <li class="list-group-item">Oatmeal Rs50/-</li>
      <li class="list-group-item">Protein Shake Rs200/-</li>
      <li class="list-group-item">Tea Rs30/-</li>
      <li class="list-group-item">Coffee Rs60/-</li>
      <li class="list-group-item">Lemon Tea Rs60/-</li>
    </ul>
    <ul class="list-group mx-4 my-4">
      <li class="list-group-item active bg-danger border border-danger">Meal</li>
      <li class="list-group-item">Plain Rice Rs 300/-</li>
      <li class="list-group-item">Roti Tarkari Rs 500/-</li>
      <li class="list-group-item">Rice with chicken Rs 500/-</li>
      <li class="list-group-item">Rice with Ghiraula - Free</li>
      <li class="list-group-item">Rice with Mutton Rs 600/-</li>
      <li class="list-group-item">Nan Rs 200/-</li>
    </ul>
    <ul class="list-group mx-4 my-4">
      <li class="list-group-item active">Lunch</li>
      <li class="list-group-item">Chicken MOMO Rs 120/-</li>
      <li class="list-group-item">Chicken Chowmien Rs 120/-</li>
      <li class="list-group-item">Chicken Dumsticks Rs 120/-</li>
      <li class="list-group-item">Chicken Leg Piece Rs 120/-</li>
      <li class="list-group-item">Chicken Sandwich Rs 120/-</li>
      <li class="list-group-item">Crunchy Chicken Burger Rs 120/-</li>
    </ul>
    <ul class="list-group mx-4 my-4">
      <li class="list-group-item active bg-success border border-success">Drinks</li>
      <li class="list-group-item">Mineral Water Rs 30/-</li>
      <li class="list-group-item">Cold Drinks Rs 50/-</li>
      <li class="list-group-item">Beer Rs 200/-</li>
      <li class="list-group-item">Vodka Rs 500/-</li>
      <li class="list-group-item">Fruit juice Rs 100/-</li>
      <li class="list-group-item">Tequilla Rs 250 per shot/-</li>
    </ul>
  </center>
</section>
