



<center>
  <h1>Your Bookings</h1>
</center>
<hr>
<br>

<table class = "table table-striped">
  <thead class = 'thead thead-default'>
    <tr>
      <th>Table Number</th>
      <th>Number of Attendees</th>
      <th>Date & Time</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.number %></td>
      <td><%= book.people %></td>
      <td><%= book.datetime %></td>
      <td><%= book.duration %></td>
      <td><%= button_to 'Remove', book_path(current_user.books.ids, @books.ids),:class => "btn btn-sm btn-danger", method: 'delete', data: { confirm: 'Are you sure?' } %></td>
   </tr>
   <%end%>
  </tbody>
</table>

<a href="/books/new" class="btn btn-warning my-4"><%=fa_icon "bookmark"%>
Book Table</a>
