<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <i class="fas fa-pizza-slice"></i>
    YUMMY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'About', pages_about_path, :class=>"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Events', pages_events_path, :class=>"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Services', pages_services_path, :class=>"nav-link" %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contacts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/reports/new">Report a Problem</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/messages/new">Send a Message</a>
        </div>
      </li>
    </ul>
    <div class="mx-2">
      <% if user_signed_in? %>
        <%= link_to 'Edit user',edit_user_registration_path, :class => 'btn btn-outline-info btn-sm' %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, :class=>"btn btn-outline-danger btn-sm" %>
      <% else %>
        <a class="btn btn-outline-primary btn-sm" href="/users/sign_in" role="button">Login</a>
        <a class="btn btn-outline-success btn-sm" href="/users/sign_up" role="button">Signup</a>
      <% end %>
    </div>
  </nav>
