<!DOCTYPE html>
<html>
  <head>
    <title>The Old Inn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <i class="fas fa-pizza-slice"></i>
        Old Inn</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to 'About', pages_about_path, :class=>"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Events', pages_events_path, :class=>"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Services', pages_services_path, :class=>"nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer">
      <div class="container text-left">
        <center>
          <small style="color:black" class="copyright">Copyright &copy 2020 Old Inn Fast Food</small>
        </center>
      </div>
      <!--End container-->
    </footer>
  </body>
</html>
